:root {
--yellow: #ffcc00;
--red: #d8000c;
--white: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 59%);
--black: #ffffff;
--blue: #5f85f1;
}

.hero {
  background-image: url('./images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28rem;
  z-index: -1;
}

.main-header {
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 2.0rem;
  margin-bottom: 2rem;
}

.search__box {
  margin: 0 auto;

  max-width: 56rem;
  width: 100%;
  height: 5rem;

  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.search__form {
  width: 100%;
  margin: 2rem 0 2rem 2rem;
}

.search__input {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.search__input::placeholder {
  color: var(--grey);
}

.search__input:focus {
  outline: none;
}

.search__input:focus::placeholder {
  color: transparent;
}

.btn__submit {
  flex-shrink: 0;
  width: 6rem;
  background-color: var(--black);
  height: 6rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.btn__submit:active {
  background-color: var(--black);
}

.search__wrapper {
  position: relative;
  margin: 0 auto;

  max-width: 56rem;
  width: 100%;
  height: 6rem;
}

.error {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: fit-content;
  color: var(--red);
  padding: 1rem;
  transform: translateX(-50%);

  clip-path: polygon(
    48% 10%,
    49% 0,
    50% 10%,
    100% 10%,
    100% 100%,
    0 100%,
    0 10%
  );
  z-index: 2;
}

.results {
  margin: 0 auto;
  margin-top: 5rem;
  padding: 4rem 3rem;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 111rem;

  min-width: 111rem;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
}

.results__content {
  width: 100%;
  padding-right: 3.5rem;
  position: relative;
}

.results__content:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 1rem;
  right: 0;

  width: 1px;
  height: calc(100% - 10px);

  background-color: var(--grey);
}

.results__header {
  text-transform: uppercase;
  color: var(--grey);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.result__data {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

main {
  position: absolute;
  top: 28rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 280px);
  z-index: -1;
  background-color: var(--blue);
}

@media screen and (max-width: 1150px) {
  .results {
    grid-template-columns: repeat(3, 1fr);
    min-width: calc(100vw - 4rem);
  }

  .results__content:last-child {
    text-align: center;
    grid-column: 1 / -1;
  }

  .results__content:nth-child(3)::after {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  main {
    height: 100vh;
  }

  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  .results__content:last-child {
    text-align: left;
    grid-column: 2 / -1;
  }

  .results__content:nth-child(3)::after {
    display: block;
  }

  .results__content:nth-child(2)::after {
    display: none;
  }

  .result__data {
    font-size: 1.3rem;
  }

  .results__header {
    margin-bottom: 0.6rem;
  }

  .search__input::placeholder {
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .results {
    margin-top: 3rem;
    grid-template-columns: none;
    gap: 2rem;
    padding: 2.5rem;
  }

  .results__content {
    text-align: center;
  }

  .results__content:last-child {
    text-align: center;
  }

  .results__content::after {
    display: none;
  }

  .results__content:nth-child(3)::after {
    display: none;
  }

  .result__data {
    font-size: 1.3rem;
  }
  .results__header {
    font-size: 0.8rem;
  }

  .error {
    bottom: -7rem;
  }
}
